
header {
    
}

div {
    color:darkgray
}

li {
    color:darkgray
}

body {
    background-image:url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0105/1606/rNavy_062245_mirror.png)
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 400%;
    color:white
}


P.info {
    color:white;
    font-size: 150%;
text-transform:uppercase;
}

a {
    
}

P.donating {
    color:darkgray
}

img {
width: 1000px
}

title {
    
}


h1 {
    font-family:sans-serif
}

body {

}

.page-description {
    color:white
}

.page-description {
    font-size: 150%
}

.donating-info {
    color:white
}

.donating-info {
    font-size: 200%
}

.donating-info {
    font-weight: bold
}

.donating-info {
    text-decoration: underline
}

.donate {
    color:darkgrey
}

.donate {
    text-align: center
}

.donate {
    text-align:center
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


ul.tab li {float: left;}


ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.tab li a:hover {background-color: #ddd;}


ul.tab li a:focus, .active {background-color: #ccc;}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.Paypal {
   
}

p.page-description {
text-transform: uppercase
    
}

p {
  
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.paypal {
    width: 300px
}



@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);


h1 {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: white;
	opacity: 0.4;
	font: 700 80px 'Bitter';
}
.Story {
    font-size: 35
}
